# Meta API
NEXT_PUBLIC_META_APP_ID=2029570947775436
META_APP_SECRET=9515b7bd56fc38d79aa7dae622cb5ae5
NEXT_PUBLIC_META_REDIRECT_URI=http://localhost:3000/api/auth/callback

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gptjogubtnxzdhscqsts.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwdGpvZ3VidG54emRoc2Nxc3RzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MTkwOTcsImV4cCI6MjA4ODA5NTA5N30.KKXH1qpYOSTJpNAePhksWWlsinLEJNOzaBRCspSniBw
SUPABASE_SERVICE_ROLE_KEY=

# Session
NEXTAUTH_SECRET=your-secret-key-here
